.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3.5rem;
  background: var(--navbar-background);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.058);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.navbar .logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.125px;
}
.logo .plain__text {
  color: var(--text-color);
}
.nav__links {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.nav__link {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.nav__link:hover > .nav__hover-effect {
  width: 100%;
}
.nav__hover-effect {
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(45deg, rgb(147 51 234), rgb(124 58 237));
}
.nav__links a {
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.125px;
}
