header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
}
.navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3.5rem;
  background: var(--navbar-background);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.058);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 999;
}
.navbar .logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.125px;
}
.logo .plain__text {
  color: var(--text-color);
}
.close__btn {
  display: none;
  background-color: transparent;
  color: var(--text-color);
}
.nav__functionality_section {
  display: flex;
  gap: 1rem;
}
.menu {
  display: none;
  background-color: transparent;
  color: var(--text-color);
}
.nav__links {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.nav__link {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.nav__link:hover > .nav__hover-effect {
  width: 100%;
}
.nav__hover-effect {
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(45deg, rgb(147 51 234), rgb(124 58 237));
}
.nav__links a {
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.125px;
}

@media screen and (max-width: 768px) {
  header .navbar {
    position: relative;
  }
  header .navbar .nav__lists {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 50vw;
    height: 100vh;
    background-color: var(--background-color);
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  header .navbar .nav__lists .close__btn {
    display: block;
  }
  .close__btn button {
    background-color: transparent;
    color: var(--text-color);
  }
  header .navbar .nav__lists ul {
    flex-direction: column;
  }
  header .navbar .nav__lists ul li a {
    width: 100%;
    transition: all 0.5s ease;
  }
  header .navbar .middle-part ul li a:hover {
    margin-left: 2.5rem;
  }
  header .navbar .nav__lists.toggle {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  header .navbar .menu {
    display: block;
  }
}
