#experience {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.experience__card h3 {
  font-size: 1.5rem;
  color: rgb(132, 0, 255);
}
.experience__card p {
  font-size: 0.9rem !important;
}

@media screen and (max-width: 768px) {
  .experience__card h3 {
    font-size: 1.2rem;
  }
  .experience__card p {
    font-size: 0.7rem !important;
  }
}
